@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    /*{Targeting browser */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', 'sans-serif';
}

/* -------------------------------------- */
/* This part will be changed frquently */
/* -------------------------------------- */

:root {
    /* root element */
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --third-bg-color: #112e42;
    --text-color: #fff;
    --main-color: #47867c;
}

.light-mode {
    --bg-color: #EAEFDC;
    --second-bg-color: #D8C3A5;
    --third-bg-color: #8E8D8A;
    --text-color: #E98075;
    --main-color: #2E151B;
    /* #E85A4F;  - Darker shade of text color*/
}

/* .light-mode {
    --bg-color: #E3E2DF;
    --second-bg-color: #E3AFBC;
    --third-bg-color: #2E151B;
    --text-color: #9A1F50;
    --main-color: #5F001E;
} */

/* -------------------------------------- */
/* -------------------------------------- */

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    font-family: poppins, sans-serif;
    background: var(--bg-color);
    color: var(--text-color)
}

section {
    /* min-height: 100vh; */
    /* min-width: 100vw; */
    min-height: 100vh;
    /*By using vw the about section will come accross the home but ignoring the issue evntually*/
    padding: 10rem 9% 2rem;
}

/* ------------Added new--------------------- */
.second-bg-section {
    background-color: var(--second-bg-color);
    color: var(--text-color);
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}

.third-bg-section {
    background-color: var(--third-bg-color);
    color: var(--text-color);
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}

/* ---------------Delete if doesnt work------- */

a {
    /*Remove hyperlink underlines*/
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    /* background: var(--bg-color); */
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .sticky {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}


.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

/* Navbar css starts */

.navbar a {
    font-size: 3rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;

}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

/* Navbar css ends */

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
    background-color: transparent;
}

/* home design css starts */
.home {
    display: flex;
    /* justify-content: center; -- Will take the text to center */
    align-items: center;
    padding: 0 9%;
}

/* .home-img {
    width: 35vw;
} */

.home-content {
    max-width: 60rem;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}


/* Extra work for css fit up media query */

.icon-resume {
    visibility: hidden;
}

.btn-down {
    display: inline-flex;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
    /* width: 189.59px; */
    justify-content: center;
    margin: 20px;
}

.btn-down:hover {
    box-shadow: none;
}

.btn-con {
    display: inline-flex;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
    width: 175px;
    /* 189.59px */
    justify-content: center;
}

.btn-con:hover {
    box-shadow: none;
}



/* home design css ends */

/* button css starts - Universal*/

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover {
    box-shadow: none;
}

/* button css ends */

/* about section css starts */

.additional-content {
    display: none;
}

.show {
    display: block;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* .about-img {
    width: 35vw;
} */

.heading {
    text-align: center;
    font-size: 4.5rem;
}

/* about section ends */

/* education section  starts */
.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education .edu-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

}

/* .edu-row .edu-col {
     flex: 1 1 40rem; 
} */

.edu-col .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.edu-col .edu-box {
    border-left: 0.2rem solid var(--main-color);
    max-width: fit-content;
    /* Ratio of the box */
}

.edu-box .edu-content {
    position: relative;
    padding-left: 2rem;
}

.edu-box .edu-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.edu-content .content {
    position: relative;
    padding: 1.5rem;
    border: 0.2rem solid var(--main-color);
    border-radius: 0.6rem;
    margin-bottom: 2rem;
}

.edu-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: 0.5s;
}

.edu-content .content:hover:before {
    width: 100%;
}

.edu-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: 0.5rem;
}

.edu-content .content .year i {
    padding-right: 0.5rem;
}

.edu-content .content h3 {
    font-size: 1.9rem;
}

.edu-content .content p {
    font-size: 1.6rem;
    padding-top: 0.5rem;
}

/* education section ends */

/* Skill section starts */

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}


.skill .sk-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

}

.sk-row .sk-col {
    flex: 1 1 40rem;
}

.sk-col .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.sk-col .sk-box {
    border-left: 0.2rem solid var(--main-color);

}

.sk-box .sk-content {
    position: relative;
    padding-left: 2rem;
}

.sk-box .sk-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.sk-content .progress {
    position: relative;
    padding: 1.5rem;
    border: 0.2rem solid var(--main-color);
    border-radius: 0.6rem;
    margin-bottom: 2rem;
}

.sk-content .progress::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: 0.5s;
}

.sk-content .progress:hover:before {
    width: 100%;
}


.sk-content .progress h3 {
    font-size: 1.9rem;
}

.sk-content .progress p {
    font-size: 1.6rem;
    padding-top: 0.5rem;
}

/* skill section ends */

/* contact section starts */

.contact {
    background: var(--third-bg-color);
    width: 100%
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 0.8rem;
    margin: 0.7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

/* contact section ends */

/* project section starts */

.project {
    background-color: var(--second-bg-color);
}

.project h2 {
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 2.5rem;
}


.project-container .project-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.project-box img {
    width: 100%;
    height: 216px;
    transition: .5s ease;
}

.project-box:hover img {
    transform: scale(1.1);
}

.project-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.project-box:hover .project-layer {
    transform: translateY(0);
}

.project-layer h4 {
    font-size: 3rem;
}

.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.project-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

/* footer section starts */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background-color: var(--main-color);
    border-radius: 0.8rem;
    transition: 0.5s ease;
    ;
}

.footer-icon a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-icon a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}





@media(max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media(max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .project {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media screen and (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .home-content h3 {
        font-size: 1.5rem;
    }

    .home-content h1 {
        font-size: 2.5rem;
    }


    /* .home-img img{                Maybe implement later
        width: 70vw;
        margin-top: 4rem;

    } */

    .about {
        flex-direction: column-reverse;
    }

    /* .about img{                  Maybe implement later
        width: 70vw;
        margin-top: 4rem;
    } */

    .project h2 {
        margin-bottom: 3rem;
    }

    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .project-container {
        grid-template-columns: 1fr;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }

    .home {
        justify-content: center;
    }
}

@media (max-width:365px) {
    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 480px) {

    .home {
        justify-content: center;
    }

    .home h1 {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    .home h3 {
        font-size: 1.7rem;
    }
}


@media screen and (max-width: 496px) {

    .home {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        justify-content: space-around;
        display: flex;
    }

    .home-content {
        text-align: left;
        margin-left: 0px;
        margin-right: 60px;
        max-width: 162px;

        /* Depending on how it looks later */
        /* margin-right: auto;
        max-width: 350px; */
    }

    .social-media {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn-down {
        visibility: hidden;
    }

    .btn-con {
        margin: 0px;
    }

    .icon-resume {
        visibility: visible;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }

}

@media screen and (max-width: 283px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    .footer-icon a {
        margin-left: 0.5rem;
    }

    .footer p {
        text-align: center;
        margin-top: 1rem;
    }
}



/* Not deployed yet - Maybe later */

/* @media screen and (max-width: 477px) {
    /* Adjustments for even smaller screens */

/*.home {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        justify-content: space-around;
        display: flex;
    }

    .home-content {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        max-width: 350px;
    }

    .social-media {
        text-align: left;
        margin-bottom: 1rem;
    }

    .btn,
    .btn-con {
        /* display: block;
        margin: 0.5rem 0;
        padding: 0.25rem 0.5rem;
        font-size: 1rem;
    }
} */